<!DOCTYPE html>
{% extends "myApp/base.html" %} {% block body_block %}
<!-- Anything here is outside from base.html-->
<!-- Jumbotron -->
<div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%)">
  <h2>Please Login!</h2>
  <form action="{% url 'myApp:user_login' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter Username" />
    <label for="password">Password:</label>
    <input type="password" name="password" />

    <input type="submit" value="Login" />
  </form>
</div>
<!-- Jumbotron -->
{% endblock %}
